html,
body {
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: #181818;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace, sans-serif;
  flex-direction: column;
}

#result {
  font-size: 4rem;
}

h3 {
  color: rgb(206, 206, 206);
}

.fizzify {
  color: aqua;
}
